/* .sidebar {
	flex: 1;
	height: calc(100vh - 50px);
	min-height: 100vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	width: 100%;
} 
*/

/* .sidebarWrapper {
	padding: 0 10px 0 20px;
	flex: 1;
	overflow: hidden;
	color: #ffffffd5;
	overflow-y: auto;
	flex-basis: 1e-9px;
} */

.sidebar {
	flex: 1;
	height: calc(100vh - 50px);
	min-height: 100vh;
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	z-index: 9999;
	position: sticky;
	top: 0;
	left: 0;
}
.sidebar222 {
	/* position: sticky; */
	/* top: 0;
	left: 0; */
	/* z-index: 9999; */
	display: flex;
	flex-direction: column;
	flex: 1;
	flex-basis: 1e-9px;
	overflow-y: auto;
	overflow: hidden;
}
.sidebarWrapper {
	padding: 0 10px 0 20px;
	flex: 1;
	overflow: hidden;
	color: #ffffffd5;
	overflow-y: auto;
	flex-basis: 1e-9px;
	/* display: flex; */
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	width: 10px;
	height: 3px;
	background-color: gray;
	border-radius: 5px;
	height: 100px;
}

.container-text-logo {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-right: 2.3rem;
	/* position: sticky;
	top: 0;
	z-index: 0; */
}

.imgLogo {
	display: flex;
	justify-content: center;
	margin: 5px 0 10px 0;
}

.logo3 {
	max-width: 120px;
}
.h2 {
	color: #fff;
	padding-right: 6px;
	font-size: 8px;
	font-weight: bold;
	position: relative;
	left: -18px;
	top: -29px;
}

.ig {
	position: relative;
	height: 100%;
	top: -38px;
	right: -36px;
}

.imgOrange {
	width: 20px;
}

.sidebarMenu {
	margin-bottom: 10px;
}
.sidebarTitle1,
.sidebarTitle2,
.sidebarTitle3,
.sidebarTitle4 {
	font-size: 15px;
	color: white;
	font-weight: bold;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sidebarTitle1:hover,
.sidebarTitle2:hover,
.sidebarTitle3:hover,
.sidebarTitle4:hover {
	background-color: rgb(128 128 128 / 0.1);
	border-right: 3px solid darkorange;
	visibility: visible;
}

.arrowIcon1.active,
.arrowIcon2.uc,
.arrowIcon3.seif,
.arrowIcon4.mah {
	transform: rotate(90deg);
	font-size: 22px;
	color: white;
	transition: all 0.5s ease;
}

.arrowIcon1,
.arrowIcon2,
.arrowIcon3,
.arrowIcon4 {
	font-size: 22px;
}
.sidebarList1,
.sidebarList2,
.sidebarList3,
.sidebarList4 {
	list-style: none;
	padding: 0 0 0 5px;
}
.sidebarListItem {
	padding: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.sidebarList1.active,
.sidebarList2.uc,
.sidebarList3.seif,
.sidebarList4.mah {
	position: absolute;
	top: -100%;
}

.sidebarListItem:hover {
	background-color: rgb(128 128 128 / 0.1);
	border-right: 3px solid darkorange;
}

.SidebarIcon {
	margin-right: 5px;
	font-size: 20px !important;
}
